@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.woff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.woff2);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}