body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto-Regular';
    color: rgb(10, 10, 10);
}

header {
    text-align: center;
    margin-top: 40px;
}

.header-info {
    color: gray;
    font-size: 10px;
}

.header-info a {
    margin: 0 15px;
}

.header-title {
    font-size: 60px;
}

header,
main {
    max-width: 1200px;
    width: 100%;
}

.main-general {
    background-color: rgb(52, 52, 52);
    color: white;
    font-size: 13px;
}

.main-header {
    margin: 0 0 10px 0;
    font-size: 45px;
    font-family: 'Roboto-Bold', Arial, sans-serif;
}

.main-text {
    font-family: 'Roboto-Regular', Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: rgb(52, 52, 52);
    color: rgb(191, 191, 191);
    font-size: 12px;
}